body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.content-margin {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 4ex;
  padding-right: 4ex;
  padding-top: 6ex;
}

a {
  color: #007219;
}